<%= form_for(@node) do |f| %>

  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

      <ul>
      <% @node.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :thresh_unc, "Threshold: Upper Non-Critical" %><br />
    <%= f.text_field :thresh_unc %>
  </div>

  <div class="field">
    <%= f.label :thresh_ucr, "Threshold: Upper Critical" %><br />
    <%= f.text_field :thresh_ucr %>
  </div>

  <div class="field">
    <%= f.label :thresh_unr, "Threshold: Upper Non-Recoverable" %><br />
    <%= f.text_field :thresh_unr %>
  </div>

  <div class="actions">
    <%= f.submit("Update " + @node.hostname) %> 
  </div>

  <div class="actions2">  
    <%= form_tag('thresh_defaults') do %>
      <div><%= submit_tag("Defaults") %></div>
    <% end %>
 </div>

<% end %>
